/**
 * Place your custom styles here.
 */

/*Main block width*/
.region.region-front-page-content {
	width: 120%;
}

/*logo*/
.logo img {
	max-width: 40px;
}


h2{
    color: #323232;
    font-size: 26px;
    font-weight: 400;
    margin: 0;
    padding: 60px 0 60px 0;
    position: relative;
    text-align: center;
}

.path-node h2 {
    font-size: 17px;
    padding: 30px 0 10px 0;
    font-weight: bold;
    text-align: left;


}

/*Most resent listings*/
#block-views-block-most-recent-listings-block-1 .views-col{
    border: 1px solid #f3f2f1;
    margin-bottom: 30px;
    margin-right: 30px;
    /*padding: 16px 16px 10px 16px;*/
    position: relative;
}

/*Listings Everywhere*/
#block-views-block-locations-block-1 .views-col{
    margin-bottom: 30px;
    margin-right: 30px;
    position: relative;
}

/*Categories on front page*/
#block-views-block-categories-block-1 .views-col{
    border: 1px solid #f3f2f1;
    margin-bottom: 30px;
    margin-right: 30px;
    /*padding: 16px 16px 10px 16px;*/
    position: relative;
    width: 15%;
}

#block-views-block-features-block-1 .views-col {
    margin-bottom: 30px;
    margin-right: 30px;
    position: relative;
}

/*You shouldn't miss*/
#block-views-block-top-news-you-shouldn-t-miss-block-1 img {
	float: left;
    margin-right: 20px;
}

#block-views-block-top-news-you-shouldn-t-miss-block-1 .views-field-body {
	display: block;
}

.page-node-type-most-recent-listings .block-region-middle h2 {
	text-align: left;
}

/*Amenities in Most resent listings in all nodes*/
.path-node .view-most-recent-listings .views-col {
    border: 1px solid #f3f2f1;
    margin-bottom: 30px;
    margin-right: 30px;
    /*padding: 16px 16px 10px 16px;*/
    position: relative;
    width: 15%;
    padding: 5px;
}



/*links locations in Most resent listings*/
.views-field a {
padding: 2px;
}


.path-frontpage .views-field-field-location a {
    color: #4CC888;
    font-weight: bold;
}

.path-frontpage .views-field-field-location a:hover {
    color: #4CC888;
    font-weight: bold;
}

/*listings filters fields*/
.form-inline .form-group {
display: block;
margin-bottom: 15px;
}

/*block title*/
.col-sm-9 .block-title{
	text-align: center;
}

/*feature image*/
#block-views-block-features-block-1 .views-field.views-field-field-main-image{
	float: left; 
	margin-right: 20px;
}

/*Companies taxonomy blocks*/
.views-view-grid.horizontal.cols-5.clearfix {
	text-align: -webkit-center;
}

/*terms of companies taxonomy*/
.views-view-grid.horizontal.cols-5.clearfix .views-col {
padding: 20px;
}

/*body_features*/
.views-field.views-field-body{
	display: inline-block;
}
body {
font-family: Poppins, Arial, sans-serif;
}

/*links*/
body a {
text-decoration: none;
color: black;
}

body a:hover {
text-decoration: none;
color: black;
}

.footer {
background-color: #383C3F;
width: 100%;
color: #fff;
}

.footer h2{
color: #fff;
text-align: inherit;
}

footer a{
color: rgba(255, 255, 255, 0.7)
}

footer a:hover {
color: #fff;
}

/*Companies block*/
.region-companies{
text-align: center;
}

/*About foundation block*/
#block-aboutfoundation {
margin-left: 150px;
}

#block-companies {
display: inline-block;
}

/*About foundation in block footer*/
section#block-aboutfoundation {
	width: 33%;
	float: left;
	margin-right: 100px;
}
/*Locations block in footer*/
section#block-views-block-locations-block-3 {
    float: left;
    margin-right: 100px;
    width: 20%;
}

/*Categories block in footer*/
section#block-views-block-categories-block-3 {
	float: left;
	width: 20%
}

footer #block-mainnavigation {
margin-left: 130px;
}

/*---------------Page listings-----------------*/

/*views fields*/
.path-listings .region-content .views-row {
    overflow: hidden;
    margin-bottom: 30px;
}

.path-listings .views-field-field-category a{
    color: #4CC888;
    font-weight: bold;
}

.path-listings .views-field-field-category a:hover{
    color: #4CC888;
    font-weight: bold ;
}

.path-listings .views-field-title {
    font-size: 20px;
}

.path-listings .views-field-field-category {
    float: right;
    margin-right: 20px;
}

.path-listings .views-row .views-field-body {
    display: block;
}

.path-listings .views-field-field-content-logo img {
    float: left;
    margin-right: 20px;
}

/*------------------- Page taxonomy term-----------------*/

.path-taxonomy .region-content .views-row {
    overflow: hidden;
    margin-bottom: 30px;
    margin-top: 30px;
}

.path-taxonomy .views-field-field-category a{
    color: #4CC888;
}

.path-taxonomy .views-field-field-category a:hover{
    color: #4CC888;
}

.path-taxonomy .views-field-title {
    font-size: 20px;
    display: inline-block;
}

.path-taxonomy .views-field-field-category {
    float: right;
    margin-right: 20px;
}

.path-taxonomy .views-row .views-field-body {
    display: block;
}

.path-taxonomy .views-field-field-main-image img {
    float: left;
    margin-right: 20px;
}